doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Sociometrica Consultores

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Simple line icons
        link(href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        a.menu-toggle.rounded(href='#')
            i.fas.fa-bars
        nav#sidebar-wrapper
            ul.sidebar-nav
                li.sidebar-brand
                    a(href='#page-top') Sociometrica
                li.sidebar-nav-item
                    a(href='#page-top') Inicio
                li.sidebar-nav-item
                    a(href='#about') Sobre Nosotros
                li.sidebar-nav-item
                    a(href='#services') Servicios
                li.sidebar-nav-item
                    a(href='#portfolio') Portafolio
                li.sidebar-nav-item
                    a(href='#contact') Contacto

        // Header
        header.masthead.d-flex.align-items-center
            .container.px-4.px-lg-5.text-center
                h1.mb-1 Sociometrica
                h3.mb-5
                    em Una forma diferente de progreso
                a.btn.btn-primary.btn-xl(href='#about') Descubre más

        // About
        section#about.content-section.bg-light
            .container.px-4.px-lg-5.text-center
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-10
                        h2 Agregando Valor a través de los datos
                        p.lead.mb-5
                            | 5 años aportando al desarrollo social
                            a(href='https://drive.google.com/file/d/1zD7_y5II2pSvF5-YLrJPH6n94YpGQd4i/view?usp=sharing/') Unsplash
                            | !
                        a.btn.btn-dark.btn-xl(href='#services') Nuestros Servicios

        // Services
        section#services.content-section.bg-primary.text-white.text-center
            .container.px-4.px-lg-5
                .content-section-heading
                    h3.text-secondary.mb-0 Servicios
                    h2.mb-5 Propuesta de Valor
                .row.gx-4.gx-lg-5
                    .col-lg-3.col-md-6.mb-5.mb-lg-0
                        span.service-icon.rounded-circle.mx-auto.mb-3
                            i.icon-question
                        h4
                            strong Necesidad
                        p.text-faded.mb-0 Identificación del problema
                    .col-lg-3.col-md-6.mb-5.mb-lg-0
                        span.service-icon.rounded-circle.mx-auto.mb-3
                            i.icon-magnifier
                        h4
                            strong Busqueda
                        p.text-faded.mb-0 Recopilación de los datos
                    .col-lg-3.col-md-6.mb-5.mb-md-0
                        span.service-icon.rounded-circle.mx-auto.mb-3
                            i.icon-chart
                        h4
                            strong Indicadores
                        p.text-faded.mb-0
                            | Visualización de la información con
                            i.fas fa-stopwatch
                            | rigurozidad
                    .col-lg-3.col-md-6
                        span.service-icon.rounded-circle.mx-auto.mb-3
                            i.icon-globe
                        h4
                            strong Valor
                        p.text-faded.mb-0 El resultado es traer el dato a las necesidades de nuestros clientes


        // Callout
        section.callout
            .container.px-4.px-lg-5.text-center
                h2.mx-auto.mb-5
                    | Dale un vistazo a nuestro último 
                    em informe
                a.btn.btn-primary.btn-xl(href='https://drive.google.com/file/d/1VW5IC3L5DYLhs9sHtg1A0kGBBsy7pSeN/view?usp=sharing/') Descargalo Ahora!

        // Portfolio
        section#portfolio.content-section
            .container.px-4.px-lg-5
                .content-section-heading.text-center
                    h3.text-secondary.mb-0 Portafolio
                    h2.mb-5 Proyectos Recientes
                .row.gx-0
                    .col-lg-6
                        a.portfolio-item(href='#!')
                            .caption
                                .caption-content
                                    .h2 Jaime Arteaga & Asociados
                                    p.mb-0 Evaluación de Impacto
                            img.img-fluid(src='assets/img/portfolio-1.jpg', alt='...')
                    .col-lg-6
                        a.portfolio-item(href='#!')
                            .caption
                                .caption-content
                                    .h2 Agencia Nacional de Mineria
                                    p.mb-0 Evaluación de Impacto
                            img.img-fluid(src='assets/img/portfolio-2.jpg', alt='...')
                    .col-lg-6
                        a.portfolio-item(href='#!')
                            .caption
                                .caption-content
                                    .h2 Ministerio de Minas y energía
                                    p.mb-0 Evaluación de Impacto
                            img.img-fluid(src='assets/img/portfolio-3.jpg', alt='...')
                    .col-lg-6
                        a.portfolio-item(href='#!')
                            .caption
                                .caption-content
                                    .h2 Oxy mobil
                                    p.mb-0 Evaluación de Impacto
                            img.img-fluid(src='assets/img/portfolio-4.jpg', alt='...')

        // Call to Action
        section.content-section.bg-primary.text-white
            .container.px-4.px-lg-5.text-center
                h2.mb-4 Dejanos tus comentarios
                a.btn.btn-xl.btn-light.me-4(href='#!') Click!
                a.btn.btn-xl.btn-dark(href='#!') PQR

        // Map
        #contact.map
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.898473880595!2d-74.07124898625362!3d4.612188096649426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f999bcf785d27%3A0xfbd310b6d113a4a0!2sPlanetario%20de%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1643982761462!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy')
            
        // Footer
        footer.footer.text-center
            .container.px-4.px-lg-5
                ul.list-inline.mb-5
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white.mr-3(href='#!')
                            i.icon-social-facebook
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white.mr-3(href='https://twitter.com/emrangelcol')
                            i.icon-social-twitter
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white(href='#!')
                            i.icon-social-github
                p.text-muted.small.mb-0 Copyright &copy; Your Website 2021

        // Scroll to Top Button
        a.scroll-to-top.rounded(href='#page-top')
            i.fas.fa-angle-up

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')